/* fallback */
/* @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(official_fonts.woff2) format('woff2');
} */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(official_fonts.woff2) format('woff2');
}

@font-face {
  font-family: 'Karrik';
  font-style: normal;
  font-weight: 400;
  src:  url('../assets/font/Karrik-Regular.ttf') format('ttf'),
        url('../assets/font/Karrik-Regular.eot?#iefix') format('embedded-opentype'), /* For IE6-8 */
        url('../assets/font/Karrik-Regular.woff2') format('woff2'),
        url('../assets/font/Karrik-Regular.woff') format('woff'),
}


@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/font/Georgia.ttf") format('ttf');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}