.react-switch-checkbox-big {
  height: 0;
  width: 0;
  visibility: hidden;
  background-color: red;
}

.insideFont {
  font-family: Karrik;
}

.react-switch-label-big {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 25px;
  background: grey;
  border-radius: 50px;
  position: relative;
  transition: background-color .2s;
}

.react-switch-label-big .react-switch-button-big {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox-big:checked + .react-switch-label-big .react-switch-button-big {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 30px;
}