// Main Stylesheet

// Main SDP Styles
@import "../styles/shards-dashboards";

// Variables
@import "./variables";

// Plugin Styles
@import "./dropzone";
@import "./quill";
@import "./range-date-picker";
@import "./file-manager-list";
@import "./react-tagsinput";
@import "./react-big-calendar";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
